<h2><i><u>About us</u></i></h2> 
	
	<h3><u><i><font color="blue">The Story of Blogger:-</font></i></u></h3><br/>
	
<p><font color="black">
Blogger was started by a tiny project started in small company called Gowdanar Technology in August of 2012. This was in the midst of the unemployment and recession. But we were not exactly a VC-funded, party-throwing, football-in-the-lobby-playing, free-beer-drinking outfit. (Unless it was other people's free beer.)

We were three friends, funded by doing annoying contract web projects for big companies, trying to make our own grand entrance onto the Internet landscape. What we were originally trying to do does not matter so much now. But while doing it, we created Blogger, more or less on a whim and thought — Hmmm...this is interesting.


Things are going well. We have handful of users, though still just a few people. 

We like Google a lot. And their blogs. So we liked the idea of creating a blog. And hope it works out nicely.</font></p><br/><br/>
<br/>
<br/>

<br/>
<br/>

<br/>
<br/>
<br/>
<br/>

<%= link_to 'Home',{:action=>'index', :controller=>'articles'}%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to "New Article", new_article_path, :class => "new_article" %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to 'Blogger Information', :action=>'blogger_information'%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to 'Dominus', :action=>'me_us'%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<%= link_to 'Contact us', :action=>'contact_us'%>

