<h3><i><u>About the Developer :- </i></u></h3>
<%= image_tag("rakesh1.jpg", :alt => "rakesh") %>

   <p><font color="blue">Email id :-<font color="black"> rakeshmaurya262@gmail.com</font>
<p><font color="blue" >Website :-<font color="black"> https://www.facebook.com/rakeshmaurya262</font>
</p>
   <p><font color="black">
I am Rakesh Kumar . <br/>
Currently working as a Trainee developer and chasing my dream to work in an MNC.
<br/>
<p><font color="blue">Qualifications:-  <font color="black">Bachelors In Engineering(Computer Science)<br/>
Working as Trainee Developer@ Gowdanar Technologies<br/>
<br>
 <font color="blue">Date of birth :-<font color="black"> 05/06/1990</br>
<p><font color="blue">Mobile Number :-<font color="black"> +91-7204189255
                     <p>+91-8006687827</p><p>+91-9756059284</p>

</font></p>
</font></p>
</font></p><br/><br/>

<%= link_to "Create new Article", new_article_path, :class => "new_article" %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to "Home", articles_path, :class=>"articles"%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   

<%= link_to 'contact us', :action=>'contact_us'%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to 'Blogger Information', :action=>'blogger_information'%>
